<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/newAccount.css">
		
    </head>
    <body>
        <div >
            <img src="images/bookMyshow-logos.png" id="img1">
            
        </div>
        
        <div id="c1">
        <div id="cont">
            <div class="u1">First Name : <input type="text"></div>
            <div class="p1">Last Name : <input type="text"></div>
     
            <div class="p1">Phone Number : <input type="text"></div>
            <div class="u1">Email : <input type="text"></div>
            <div class="u1">D.O.B : <input type="date"></div>
            <br><br>
			<br><br>
			
			
			
            <button id="hb1"><b>Create</b></button>
        </div>
        </div>

    </body>
</html>